/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016. 9. 24, 오후 5:39:33
    Author     : salesiopark
*/

.code-area {
    -fx-font-family: monospace;     //폰트
    -fx-font-size: 20;              // 폰트사이즈
    -fx-background-color: #272822;  //배경색
}

.code-area .text { //.code-area 와 .text 사이에 반드시 공백이 있어야 한다.
    -fx-fill: #FFFFFF;             // 문자 색상
}

.caret {
    -fx-stroke:white;              // 캐럿 색상
}

//----------------------------------------------------------------------------
/*
.lineno { // 줄번호 영역의 스타일 지정
    -fx-font-family: Consolas;//monospace;
    -fx-background-color: #474842;// #272822;
    -fx-text-fill: #8F908A;
    -fx-padding: 0 5px;
}


.cpp-keyword {
    -fx-fill:#6FC7F6;//steelblue;
    -fx-font-weight:bold;  //-fx-font-style:itatic; // not working
    //-fx-background-color: white; //not working
}
.arduino-func { // style for arduino library functions
    -fx-fill: #91E22E;//blue;//azure;//navy; //#A6E22E;//font forecolor
    -fx-font-weight:bold;
}
.arduino-const { // style for arduino constants
    -fx-fill:yellow;// saddlebrown;
    //-fx-font-weight:bold;
}
.comment { // style for arduino constants
    -fx-fill:#A5A18E;//#75715E;
    //-fx-font-weight:bold;
}
.default { // default font style
    -fx-fill: white;
    //-fx-font-weight:bold;
    -fx-text-fill: white;
}

.tab-area {
    -fx-region-background : #17A1A5;
}

.error-line {
    -fx-fill : red;
    -fx-font-weight:bold;
    -fx-underline: true;
    //-fx-text-fill: red;//not working
    //-fx-background-color: red;//not working
    //-fx-background-fills: red;//not working
}

#comboBox .list-cell
 {
    -fx-font-family: arial;
    -fx-font-size: 16px;
    -fx-text-fill: #a0522d;
 }
 */