/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016. 9. 29, 오전 11:04:14
    Author     : salesiopark
*/

// TreeView ------------------------------------------------------------------
.treeview {
    -fx-font-size: 14;
}

.treeview .tree-cell {
    -fx-background-color: #272822 ;
    -fx-text-fill: white ;
}

.treeview .tree-cell > .tree.disclosure-node > .arrow {
    -fx-background-color: white;
}

.treeview .tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
}

.treeview .tree-cell:selected {
    -fx-background-color: #474842;
}


// ToolBar ------------------------------------------------------------------
.toolbar {
    -fx-background-color: #272822;
}
